<ng-container *ngIf="activeRecipe; else noActiveRecipe">
  <h3 class="mb-3">{{activeRecipe.name}}</h3>

  <img
    style="max-width: 200px; display: block"
    class="mb-3"
    [src]="activeRecipe.imagePath"
    [alt]="activeRecipe.name"
  >

  <div class="btn-group mb-3" appDropdown>
    <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
      Manage recipe
    </button>
    <ul class="dropdown-menu dropdown-menu-end">
      <li class="dropdown-item" (click)="addIngredientsToShoppingList()">To shopping list</li>
      <li class="dropdown-item" routerLink="edit">Edit recipe</li>
      <li class="dropdown-item">Delete recipe</li>
    </ul>
  </div>

  <p>Description: {{activeRecipe.desc}}</p>
  <ul class="list-group">
    <li
      *ngFor="let ingredient of activeRecipe.ingredients"
      class="list-group-item"
    >{{ingredient.name}} - {{ingredient.amount}}</li>
  </ul>
</ng-container>
<ng-template #noActiveRecipe><p>Choose any recipe</p></ng-template>
