:host {
  display: block;
  margin-bottom: 10px;
}

.inputs {
  margin-bottom: 10px;
}

input {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid lightgray;
}

button {
  &:not(:last-child) {
    margin-right: 10px;
  }
}
