$bgc: white;

:host {
  display: block;
  margin-bottom: 10px;
}

.card {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  cursor: pointer;
  border: 1px solid lightgray;
  border-radius: 5px;
  background-color: $bgc;

  &:hover {
    background-color: darken($bgc, 10%);
  }

  &:not(:last-child) {
    margin-bottom: 10px;
  }

  h3 {
    margin-bottom: 10px;
  }

  div {
    margin-right: 10px;
  }

  img {
    height: 100px;
  }
}
