<div class="shopping-edit">
  <div class="row mb-3">
    <form [formGroup]="form">
      <div class="col-md-4 form-group">
        <label for="name">Name</label>
        <input
          type="text"
          id="name"
          class="form-control"
          formControlName="name"
        >
      </div>
      <div class="col-md-2 form-group">
        <label for="amount">Amount</label>
        <input
          type="number"
          id="amount"
          class="form-control"
          formControlName="amount"
        >
      </div>
    </form>
  </div>
  <div>
    <button *ngIf="!(isEditMode$ | async); else update" class="btn btn-success me-1" (click)="addShoppingItem()" [disabled]="!form.valid">Add</button>
    <ng-template #update>
      <button class="btn btn-primary me-1" (click)="updateShoppingItem()" [disabled]="!form.valid">Update</button>
    </ng-template>
    <button class="btn btn-warning me-1" (click)="clearShoppingItem()">Clear</button>
    <button *ngIf="isEditMode$ | async" class="btn btn-danger" (click)="deleteShoppingItem()">Delete</button>
  </div>
</div>
