<input [(ngModel)]="serverName" />
<p>{{ serverName }}</p>
<button
  class="btn btn-success"
  [disabled]="!newServerAllowed"
  (click)="createServer()"
>
  Add server
</button>
<p *ngIf="serverCreated; else noServer">
  New server was created: {{ serverName }}
</p>
<ng-template #noServer><p>No server was created</p></ng-template>
<app-server></app-server>
<app-server></app-server>

<label>
  Enter you name:
  <input [(ngModel)]="userName" />
</label>
<br />
<button class="btn btn-primary" [disabled]="!userName" (click)="userName = ''">
  Reset name
</button>
