<div class="row">
  <div class="col-xs-12 col-sm-4">
    <div class="list-group">
      <a
        *ngFor="let server of servers"
        [routerLink]="['/servers', 1, 'edit']"
        [queryParams]="{allowEdit: true}"
        fragment="some-fragment"
        class="list-group-item"
      >
        {{ server.name }}
      </a>
    </div>
  </div>
  <div class="col-xs-12 col-sm-4">
    <button class="btn btn-primary" (click)="visitHomeRelatively()">
      Visit home programmatically by relative path
    </button>
    <app-edit-server></app-edit-server>
    <hr>
    <app-server></app-server>
  </div>
</div>

